* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* Variables */
/* Variables */
/* index */
/* index */
/* index */
@font-face {
  font-family: "CormorantSC-Regular";
  src: url("../fuente/cormorant/CormorantSC-Regular.ttf");
}
/* contenedor */
/* contenedor */
/* contenedor */
body {
  background-color: rgb(230, 221, 207);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.1fr 1fr 0.5fr;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

.header {
  justify-self: stretch;
  grid-area: header;
}
.header .encabezado {
  background: linear-gradient(to bottom, rgb(149, 149, 149) 0%, rgb(13, 13, 13) 0%, rgb(1, 1, 1) 50%, rgb(10, 10, 10) 64%, rgb(10, 10, 10) 64%, rgb(10, 10, 10) 72%, rgb(78, 78, 78) 100%, rgb(56, 56, 56) 100%, rgb(27, 27, 27) 100%, rgb(56, 56, 56) 100%, rgb(78, 78, 78) 100%);
  font-family: "CormorantSC-Regular";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .encabezado .encabezado__imagen {
  width: 7.1875em;
  margin: 1.5625em;
  border-radius: 3.125rem;
  border-style: hidden;
  align-self: center;
}
.header .encabezado .encabezado__titulo {
  padding: 0.625em;
  margin: 1.5625em;
  color: #E6DDCF;
}

.nav {
  grid-area: nav;
  background: linear-gradient(to right, #efb810 0%, #f3c332 40%, #daa520 60%, #f3c332 100%);
  list-style-type: style none;
  text-align: left;
}
.nav li {
  display: inline-block;
  text-align: left;
  padding: 0.625em;
  text-decoration: none;
  color: #f3c332;
}
.nav li a {
  padding: 0.625em;
  color: rgb(0, 0, 0);
  margin: 0.625em;
  transition: color 0.4s ease;
  color: #0a0a0a;
}
.nav li a:hover {
  color: #efb810;
}

.main {
  grid-area: main;
}
.main .item {
  height: auto;
  width: auto;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
}
.main .item .item__primero {
  width: 9.375;
  margin: 0.5em;
}
.main .item .item__primero .item__primero--imagen {
  width: 1.875em;
}
.main .item .item__segundo {
  margin: 0.5em;
}
.main .item .item__segundo .item__segundo--imagen {
  width: 1.875em;
}
.main .item .item__tercero {
  margin: 0.5em;
}
.main .item .item__tercero .item__tercero--imagen {
  width: 1.875em;
}
.main .item .item__cuarto {
  margin: 0.5em;
}
.main .item .item__cuarto .item__cuarto--imagen {
  margin: 0.5em;
  width: 1.875em;
}
.main .about-us {
  background-color: rgb(230, 221, 207);
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(../multimedia/logos/fondo-aboutus.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about-us .about-us__titulo {
  margin-left: 0.625em;
  font-size: 3.125em;
  color: #E6DDCF;
}
.main .about-us .about-us__subtitulo {
  margin: 0.9375em;
  font-size: 2.8125em;
  color: rgba(230, 221, 207, 0.9215686275);
}
.main .about-us .about-us__biografia {
  text-align: left;
  font-size: 1.5625em;
  margin: 0.9375em;
  color: rgba(210, 197, 178, 0.9215686275);
}
.main .about-us .about-us__segundo-titulo {
  text-align: center;
  font-size: 2.1875em;
  margin: 0.9375em;
  background: rgba(112, 112, 112, 0.4);
  color: #E6DDCF;
}
.main .news {
  margin-top: 3%;
  margin-left: 2.5%;
}
.main .news .news__form--email-input {
  border-radius: 1%;
  color: grey;
}
.main .news .news__form--email-input .news__form--tell-input {
  border-radius: 1%;
  color: grey;
}
.main .contenido {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}
.main .contenido .mostrador {
  width: 100%;
  transition: 0.5s ease;
}
.main .contenido .mostrador .fila {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  /* Entre Hover y img tengo el error, a partir de ahi no se aplica lo siguiente */
}
.main .contenido .mostrador .fila .item {
  max-width: 210px;
  padding: 30px;
  height: 250px;
  /* border: 2px solid red; */
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.main .contenido .mostrador .fila .item:hover {
  background-color: rgba(233, 215, 187, 0.825);
}
.main .contenido .mostrador .fila .item .contenedor-foto img {
  width: 100px;
  margin: 30px 0;
}

.seleccion {
  transition: 0.5s ease;
  opacity: 0;
  width: 0%;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.seleccion .cerrar {
  position: absolute;
  right: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.seleccion .info {
  padding: 20px;
}
.seleccion .info .info img {
  display: block;
  margin: 30px auto;
  width: 80%;
}
.seleccion .info .info h2 {
  color: #0a0a0a;
  margin-bottom: 10px;
}
.seleccion .info .info p {
  font-size: 14px;
  color: #0a0a0a;
  margin-bottom: 10px;
}
.seleccion .info .info .precio {
  font-size: 30px;
  font-weight: bold;
  color: #daa520;
  margin-bottom: 10px;
  display: block;
}
.seleccion .info .info .fila {
  display: flex;
  align-items: flex-end;
}
.seleccion .info .info .fila .info .fila label {
  display: block;
  margin-bottom: 10px;
}
.seleccion .info .info .fila .info .fila select {
  width: 100px;
  font-size: 18px;
  padding: 6px;
  margin-right: 30px;
}
.seleccion .info .info .fila .info .fila button {
  height: 70px;
  border: none;
  padding: 0 25px;
  color: #fff;
  background-color: #daa520;
}

/*# sourceMappingURL=estilo.css.map */
