* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}



/* index */
/* index */
/* index */
@font-face{
    font-family: "CormorantSC-Regular" ;
    src: url("../fuente/cormorant/CormorantSC-Regular.ttf");
}

/* contenedor */
/* contenedor */
/* contenedor */
.container {
display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.8fr 0.1fr 1fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"; 
  }

.header {
    justify-self: stretch; 
    grid-area: header;
    }

.nav { grid-area: nav; }
.main { grid-area: main; }
.footer { grid-area: footer; }



/* header */
/* header */
/* header */

.encabezado{
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 0%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 64%,rgba(10,10,10,1) 64%,rgba(10,10,10,1) 72%,rgba(78,78,78,1) 100%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%,rgba(56,56,56,1) 100%,rgba(78,78,78,1) 100%);
    font-family: "CormorantSC-Regular";
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.encabezado__titulo{
    padding: 0.625em;
    margin: 1.5625em ;
    color: #E6DDCF;
    align-self:flex-end;
}

.encabezado__imagen{
    width:7.1875em;
    margin: 1.5625em;
    border-radius: 3.125rem;
    border-style: hidden;
    align-self: center;
    
    
} 

/* nav */
/* nav */
/* nav */
.nav{
    background: linear-gradient(to right,  #efb810 0%,#f3c332 40%,#daa520 60%,#f3c332 100%);
    list-style-type: style none; 
    text-align: left;      
}

.nav li{
    display: inline-block;
    text-align: left;
    padding: 0.625em;
}

.nav li a{
    padding: 0.625em;
    color: rgb(0, 0, 0);
    margin: 0.625em;
    text-decoration: none;
}

/* main */
/* main */
/* main */

.item{
    height: auto;
    width: auto;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-between;
}

.item__primero{
    width: 9.375 ;
    margin: 0.5em;      
}

.item__primero--imagen{
    width: 1.875em;
}

.item__segundo{
    margin: 0.5em; 
}

.item__segundo--imagen{
    width: 1.875em;
}

.item__tercero{
    margin: 0.5em; 
}

.item__tercero--imagen{
    width: 1.875em;
}

.item__cuarto{
    margin: 0.5em; 
}

.item__cuarto--imagen{
    margin: 0.5em;
    width: 1.875em;
}

/* footer */
/* footer */
/* footer */



/* about us */
/* about us */
/* about us */
.about-us{
    background-color: #E6DDCF;
}

body{
    background-color: #E6DDCF;
}

.about-us__titulo{
    margin-left: 0.625em;
    font-size: 3.125em;
}
.about-us__subtitulo{
    margin: 0.9375em;
    font-size: 2.8125em;
}

.about-us__biografia{
    text-align: left;
    font-size: 1.5625em;
    margin: 0.9375em;
}

.about-us__segundo-titulo{
    text-align: center;
    font-size: 2.1875em;
    margin: 0.9375em;
}


/* Novedades */
/* Novedades */
/* Novedades */
.news{
    margin-top: 3%;
    margin-left: 2.5%;
}

.news__form--email-input{
    border-radius:1%;
    color: grey;
}

.news__form--tell-input{
    border-radius:1%;
    color: grey;
}


/* Tienda */
/* Tienda */
/* Tienda */
.tienda__titulo{
    margin-left: 2%;
}

.tienda{
    background-color: #E6DDCF;
}

.box{
    margin: 2%;
    text-align: center;
}

.box h6{
    font-size: larger;
    color: #0a0a0a;
    margin: 0.625em;
}



/*Contacto*/
/*Contacto*/
/*Contacto*/
.contacto{
    background-color: #E6DDCF;
    text-align: center
}

.contacto__titulo{
    padding: 1em;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box__ventas{
    padding: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 0.125em;
    border-style: solid;
    border-color: #BBAB8C;
}

.box__ventas--imagen{
    width:4.375em ;
}

.box__customer-support{
    padding: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border: 0.125em;
    border-style: solid;
    border-color: #BBAB8C;
}

.box-customer-support__imagen{
    width:5.625em;    
}

.box__redes{
    padding: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border: 0.125em;
    border-style: solid;
    border-color: #BBAB8C;
}

.box__redes--imagen{
    width: 7em;
    margin-left: 10%; /* Elegir bien distancia */
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.box__redes--titulo{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.box__redes--logo--instagram{
    width: 3.125em;    
}

.box__redes--logo--wpp{
    width:3.125em;
}







































